<template>

<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
                <vs-button href="admin.php?page=afinar_options#/" size="large" square flat border color="#ffffff" :active="active == 0" @click="active = 0">Wizard</vs-button>
                  <vs-button href="admin.php?page=afinar_options#/customizer" size="large" square flat border color="#630CDA" :active="active == 1" @click="active = 1">Theme Customizer</vs-button>    
                  <vs-button href="admin.php?page=afinar_options#/preloader" size="large" square flat border color="#630CDA" :active="active == 2" @click="active = 2">Preloader Settings</vs-button>
                  <vs-button href="admin.php?page=afinar_options#/whitelabel" size="large" square flat border color="#630CDA" :active="active == 3" @click="active = 3">White Label</vs-button>
                    <vs-button href="admin.php?page=afinar_options#/wizard" size="large" square flat border color="#630CDA" :active="active == 5" @click="active = 5">About</vs-button>
            </div>
          </div>
        </div>
    </div>
</div>
        

  </nav>

  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <!-- Replace with your content -->
      <div class="px-4 py-6 sm:px-0">
        <div class="h-96 rounded-lg border-4 border-dashed border-gray-200"></div>
      </div>
      <!-- /End replace -->
    </div>
  </main>
</div>

</template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax';
import 'vuesax/dist/vuesax.css';
import axios from 'axios';


Vue.use(Vuesax, {
    // options here
  })  

export default({
    name: 'App',
    data() {
        return {
            // installmsg: 'Installing',
            pluginname: null,
            // lodingstatus: null,
        }
    },
    methods: {
        install_plugins(){

            this.pluginname = 'One Click Demo Import';

            const lodingstatus = this.$vs.loading({
            background: '#5955A5',
            color: '#fff',
            text: 'Installing ' + this.pluginname,
          })

            axios({
            method: 'post',
            url: api_settings.root + 'wp/v2/plugins?slug=one-click-demo-import&status=active',
            headers: {'X-WP-Nonce': api_settings.nonce},
            })
            .then((response) => {
                lodingstatus.close();
                this.pluginname = 'Greenshift – Animation & Page Builder Blocks';

                const lodingstatus2 = this.$vs.loading({
                background: '#5955A5',
                color: '#fff',
                text: 'Installing ' + this.pluginname,
            });

            axios({
            method: 'post',
            url: api_settings.root + 'wp/v2/plugins?slug=greenshift-animation-and-page-builder-blocks&status=active',
            headers: {'X-WP-Nonce': api_settings.nonce},
            }).then((response) =>{
            lodingstatus2.close();
            const noti = this.$vs.notification({
                sticky: true,
                color: 'success',
                position: null,
                title: 'Documentation Vuesax 4.0+',
                text: 'These documents refer to the latest version of vuesax (4.0+), to see the documents of the previous versions you can do it here 👉 Vuesax 3.x'
            })

            })

            });
        },
    },
    mounted() {
                        
    }
})
</script>