<template>
    <div>
        <h1 class="text-2xl font-semibold">Code Injector</h1>
        <div class="grid grid-cols-1 gap-4">
        
        <div class="w-full grid grid-cols-1 mt-8">
            <div>
                <lv-textarea v-model="headercode" placeholder="" rows="9" label="Header Code" :autoResize="true" />
            </div>

            <div class="mt-8">
                <lv-textarea v-model="footercode" placeholder="" rows="9" label="Footer Code" :autoResize="true" />
            </div>
    
        </div>
        <div class="flex justify-center mt-8">
                <vs-button size="large" color="#630CDA" square @click="setTrackingCode()">Save Settings</vs-button>
            </div>
        </div>
    
    </div>
    </template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax';
import 'vuesax/dist/vuesax.css';
import axios from 'axios';

import LvTextarea from 'lightvue/textarea';

    
    Vue.use(Vuesax, {
        // options here
      })  

export default ({
  name: 'CodeInjector',
    components: {
        LvTextarea,
    },
  data() {
    return {
      headercode: api_settings.custom_code['headercode'],
      footercode: api_settings.custom_code['footercode'],
    }
  },
  methods: {
    setTrackingCode() {
    var url = api_settings.root + 'afinar/v1/code/inject';
    axios({
        method: 'post',
        url: url,
        data: {
            headercode: this.headercode,
            footercode: this.footercode,
        }
        }).then(response => {
          const noti = this.$vs.notification({
                    color: '#630CDA',
                    duration: 2000,
                    progress: 'auto',
                    position: 'top-right',
                    title: 'Settings Saved Successfully',
                    square: true
            });
        }).catch(function (error) {
        console.log(error);

    });
    },
  },
  mounted() {
    // ...
  },
});

</script>