<template>
    <div>
        <div class="flex justify-center">

        <div class="w-full grid place-items-center">

            <ul class="grid sm:grid-cols-1 md:grid-cols-3 gap-10">
                <li v-for="demo in demos" class="">
                    <img class="border rounded-lg shadow-xl transition ease-in-out duration-700 hover:-translate-y-1 hover:scale-110" :src=demo.image alt="">
                    <h4 class="text-base text-center font-normal mt-8 mb-6 leading-normal">{{ demo.name }}</h4>
                    <div class="flex justify-center m-4">
                      <vs-button color="warn" square block blank :href=demo.preview>Preview Demo</vs-button>
                      <vs-button color="#630CDA" square block @click="importDemo(
                        demo.pages,
                        demo.settings,
                        demo.required_plugins,
                        demo.menus,
                        demo.options
                        )">Import Demo</vs-button>
                    </div>
                </li>
            </ul>

        </div>

        </div>
    </div>
</template>

<script>
import vue from 'vue';
import axios from 'axios';

export default ({
  name: 'Demos',
  data() {
    return {
      demos: [
        {
          name: 'Conference Event',
          preview: 'https://demo.wpafinar.com/conferance-event/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/conferance_event/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/conferance_event/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/conferance_event/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/conferance_event/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/conferance_event.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Babysitter Service',
          preview: 'https://demo.wpafinar.com/babysitter-service/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/babysitter_service/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/babysitter_service/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/babysitter_service/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/babysitter_service/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/babysitter_service.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Creative Portfolio',
          preview: 'https://demo.wpafinar.com/creative-portfolio/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/creative_portfolio/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/creative_portfolio/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/creative_portfolio/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/creative_portfolio/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/creative_portfolio.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Digital Marketing Agency',
          preview: 'https://demo.wpafinar.com/digital-marketing-agency/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/digital_marketing_agency/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/digital_marketing_agency/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/digital_marketing_agency/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/digital_marketing_agency/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/digital_marketing.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Web Hosting',
          preview: 'https://demo.wpafinar.com/web-hosting/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_hosting/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_hosting/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_hosting/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_hosting/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/web_hosting.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Branding Agency',
          preview: 'https://demo.wpafinar.com/branding-agency/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/branding_agency/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/branding_agency/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/branding_agency/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/branding_agency/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/branding_agency.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Crypto Service',
          preview: 'https://demo.wpafinar.com/crypto-service/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/crypto_service/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/crypto_service/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/crypto_service/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/crypto_service/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/crypto_service.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Architecture Service',
          preview: 'https://demo.wpafinar.com/architecture-service/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/architecture_service/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/architecture_service/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/architecture_service/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/architecture_service/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/architecture_service.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Fitness Service',
          preview: 'https://demo.wpafinar.com/fitness-service/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/fitness_service/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/fitness_service/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/fitness_service/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/fitness_service/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/fitness.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Clipping Path',
          preview: 'https://demo.wpafinar.com/clipping-path/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/clipping_path_service/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/clipping_path_service/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/clipping_path_service/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/clipping_path_service/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/clipping_path.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Yoga',
          preview: 'https://demo.wpafinar.com/yoga/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/yoga/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/yoga/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/yoga/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/yoga/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/yoga.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Presonal Resume',
          preview: 'https://demo.wpafinar.com/personal-resume/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/personal_resume/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/personal_resume/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/personal_resume/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/personal_resume/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/personal_resume.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'SMB Business',
          preview: 'https://demo.wpafinar.com/smb-business/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/smb_business/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/smb_business/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/smb_business/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/smb_business/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/smb_business.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'University',
          preview: 'https://demo.wpafinar.com/university/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/university/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/university/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/university/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/university/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/university.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Fundraising',
          preview: 'https://demo.wpafinar.com/fundraising/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/fundraising/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/fundraising/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/fundraising/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/fundraising/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/fundraising.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Language School',
          preview: 'https://demo.wpafinar.com/language-school/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/language_school/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/language_school/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/language_school/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/language_school/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/language_school.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Car Rental',
          preview: 'https://demo.wpafinar.com/car-landing/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/car_rental/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/car_rental/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/car_rental/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/car_rental/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/car_rental.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Travel Agency',
          preview: 'https://demo.wpafinar.com/travel-agency/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/travel_agency/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/travel_agency/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/travel_agency/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/travel_agency/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/travel_agency.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Tailoring Service',
          preview: 'https://demo.wpafinar.com/tailoring-service/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/tailoring_service/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/tailoring_service/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/tailoring_service/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/tailoring_service/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/taylor_service.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Virtual Reality',
          preview: 'https://demo.wpafinar.com/virtual-reality/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/virtual_reality/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/virtual_reality/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/virtual_reality/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/virtual_reality/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/virtual_reality.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Doctor Medical',
          preview: 'https://demo.wpafinar.com/doctor-medical/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/doctor_medical/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/doctor_medical/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/doctor_medical/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/doctor_medical/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/doctor.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Web Application / SaaS',
          preview: 'https://demo.wpafinar.com/web-application/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_application/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_application/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_application/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_application/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/web_application.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Civil Engeinnering',
          preview: 'https://demo.wpafinar.com/civil-engeinnering-service/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/civil_engeinnering/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/civil_engeinnering/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/civil_engeinnering/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/civil_engeinnering/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/civil_engeinnering.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Web Design Company',
          preview: 'https://demo.wpafinar.com/local-web-design-company/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_design_company/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_design_company/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_design_company/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/web_design_company/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/web_design_company.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Financial Planning',
          preview: 'https://demo.wpafinar.com/financial-planning/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/financial_planning/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/financial_planning/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/financial_planning/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/financial_planning/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/financial_planning.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Business Consulting',
          preview: 'https://demo.wpafinar.com/business-consulting/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/business_consulting/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/business_consulting/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/business_consulting/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/business_consulting/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/business_consulting.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Data Science',
          preview: 'https://demo.wpafinar.com/data-science/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/data_science/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/data_science/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/data_science/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/data_science/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/data_science.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
        {
          name: 'Business Development',
          preview: 'https://demo.wpafinar.com/business-development/',
          pages: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/business_development/pages.json',
          settings: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/business_development/settings.json',
          menus: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/business_development/menu.json',
          options: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_demo_files/business_development/options.json',
          image: 'https://afinar.s3.us-west-2.amazonaws.com/afinar_website/afinar_demos/business_development.png',
          required_plugins: [
            'greenshift-animation-and-page-builder-blocks/plugin',
          ]
        },
      ],
      
    };
  },
  methods: {
    importDemo(pages,settings,required_plugins,menus,options){
      const lodingstatus = this.$vs.loading({
            background: '#5955A5',
            color: '#fff',
            text: 'Installing Required Plugins',
      })

      // Create an array of promises
      const promises = required_plugins.map(plugin => {
          const url = api_settings.root + 'wp/v2/plugins/'+plugin;
          return axios({
              method: 'get',
              url: url,
              headers: {'X-WP-Nonce': api_settings.nonce},
          })
          .then(response => {
              console.log(response.data);
              if (response.data.status != 'active') {
                console.log('plugin not active');
                
              }else{
                console.log('plugin is active');
              }
          })
          .catch(error => {
            if (error.response.status === 404) {
            const slug = plugin.split('/')[0];
            axios({
            method: 'post',
            url: api_settings.root + 'wp/v2/plugins?slug='+slug+'&status=active',
            headers: {'X-WP-Nonce': api_settings.nonce},
            })
            .then(response => {
              console.log(response.data);
            })
          } else {
            // handle other error
          }
          });
      });

      // Wait for all promises to resolve
      Promise.all(promises)
          .then(() => {
              lodingstatus.close();
              this.importPages(pages,settings,menus,options);
          })
          .catch(error => {
              console.log('Error:', error);
          });

    },

    importPages(pages,settings,menus,options){
      console.log(pages);
      const lodingstatus = this.$vs.loading({
              background: '#5955A5',
              color: '#fff',
              text: 'Importing Demo Contents',
      })
      axios({
          method: 'post',
           url: api_settings.root + 'afinar/v1/pages/insert',
           data: pages
        }).then((response) => {
              console.log(response);
              lodingstatus.close();

              const lodingstatus_2 = this.$vs.loading({
                background: '#5955A5',
                color: '#fff',
                text: 'Importing Theme Settings',
              })

              axios({
                method: 'post',
                url: api_settings.root + 'afinar/v1/settings/insert',
                data: settings
              }).then((response) => {

                    axios({
                      method: 'post',
                      url: api_settings.root + 'afinar/v1/menus/insert',
                      data: menus,
                    }).then((response) => {
                          console.log(options);
                          lodingstatus_2.close();
                          const noti = this.$vs.notification({
                          color: '#630CDA',
                          duration: 2000,
                          progress: 'auto',
                          position: 'top-right',
                          title: 'Demo Imported Successfully',
                          square: true
                          });
                          // axios({
                          // method: 'post',
                          // url: api_settings.root + 'afinar/v1/options/insert',
                          // data: options,
                          //   }).then((response) => {
                          //     console.log(response);
                          //     lodingstatus_2.close();
                          //   })
                    }).catch(function (error) {
                            console.log(error);
                    });
              }).catch(function (error) {
                      console.log(error);
            });
        }).catch(function (error) {
                console.log(error);
       });
    },

    // importSettings(settings){
    //   console.log(settings);
    //   const lodingstatus = this.$vs.loading({
    //             background: '#5955A5',
    //             color: '#fff',
    //             text: 'Importing Theme Settings',
    //           })
    //   // axios({
    //   //     method: 'post',
    //   //      url: api_settings.root + 'afinar/v1/settings/insert',
    //   //      data: pages
    //   //   }).then(function (response) {
    //   //         console.log(response);
    //   //         lodingstatus.close();
    //   //   }).catch(function (error) {
    //   //           console.log(error);
    //   //  });
    // }
  },
  computed: {
    // ...
  },
  watch: {
    // ...
  },
  created() {
    // ...
  },
  mounted() {
    // ...
  },
  destroyed() {
    // ...
  },
});

</script>