<template>
    <div>
      <div class="p-4 mb-4 text-sm text-red-800 text-center font-semibold rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    Import / Export Function Currently in beta mode. Please use with caution.
  </div>   
    <h1 class="text-2xl font-semibold">Export Settings</h1>

    <div class="grid grid-cols-1 gap-4 mt-6">
      
    <div class="w-4/6 mt-4">
        <div class="flex justify-between">
            <h4 class="text-lg font-medium mt-2">Export All Settings & Contents</h4>
            <vs-button color="#630CDA" square @click="exportPages()">Export</vs-button>
        </div>
        
    </div>

    </div>

</div>
</template>

<script>
import vue from 'vue';
import JSZip from 'jszip';
import { saveAs } from 'file-saver';

export default ({
  name: 'ImportExport',
  data() {
    return {
      // ...
    };
  },
  methods: {
    exportPages(){
        // export to json
        // var pages = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(api_settings.all_pages));
        // var settings = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(api_settings.customizer));
        // var header_menu = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(api_settings.header_menu));
        // var footer_menu = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(api_settings.footer_menu));
        // var social_menu = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(api_settings.social_menu));
        var menu = [api_settings.header_menu, api_settings.footer_menu, api_settings.social_menu]

        // download json files from pages and settings with jszip
        var zip = new JSZip();
        zip.file("pages.json", JSON.stringify(api_settings.all_pages));
        zip.file("settings.json", JSON.stringify(api_settings.customizer));
        zip.file("menu.json", JSON.stringify(menu));
        zip.file("options.json", JSON.stringify(api_settings.all_options));
        // zip.file("header_menu.json", JSON.stringify(api_settings.header_menu));
        // zip.file("footer_menu.json", JSON.stringify(api_settings.footer_menu));
        // zip.file("social_menu.json", JSON.stringify(api_settings.social_menu));
        zip.generateAsync({type:"blob"})
        .then(function(content) {
            // see FileSaver.js
            saveAs(content, "pages_and_settings.zip");
        });
        
    },
  },
  computed: {
    // ...
  },
  watch: {
    // ...
  },
  created() {
    // ...
  },
  mounted() {
    // console.log(api_settings.all_options)
    // console.log (JSON.parse((JSON.stringify(api_settings.header_menu))))
    // console.log(menu)
  },
  destroyed() {
    // ...
  },
});

</script>