<template>
    <div>
        <input type="file" @change="uploadFile" ref="file">
        <button @click="importOptions">Upload!</button>
      </div>
</template>

<script>
import vue from 'vue';
import axios from 'axios';
import JSZip from 'jszip';

export default ({
  name: 'ImportSettings',
  data() {
    return {
      
    };
  },
  methods: {
    importOptions(){
      // import file from input
        var file = this.$refs.file.files[0];

        

        var reader = new FileReader();
        reader.readAsText(file, "UTF-8");
        reader.onload = function (evt) {
            var obj = JSON.parse(evt.target.result);
            // set api_settings to imported file
            // pages = obj;
            // console.log(obj);

            axios({
                method: 'post',
                url: api_settings.root + 'afinar/v1/pages/insert',
                data: {obj}
            }).then(function (response) {
                console.log(response);
            }).catch(function (error) {
                console.log(error);
            });
            // save api_settings to localstorage
            // localStorage.setItem('api_settings', JSON.stringify(api_settings));
        }
        reader.onerror = function (evt) {
            console.log("error reading file");
        }
    }
  },
  computed: {
    // ...
  },
  watch: {
    // ...
  },
  created() {
    // ...
  },
  mounted() {
    
  },
  destroyed() {
    // ...
  },
});

</script>