<template>
    <div class="grid place-items-center">
        <div class="bg-white drop-shadow-lg m-24 w-4/6 border-solid border-2 border-indigo-600">
            <div class="p-12">
                <div class="flex justify-center">
                    <img v-bind:src="this.logopath" class="w-1/6" />
                   <!--- <div class="mt-6 flex">
                    <vs-button href="admin.php?page=afinar_options#/" size="large" square flat border color="#630CDA" :active="active == 0" @click="active = 0">Theme Setup</vs-button>
                    <vs-button href="admin.php?page=afinar_options#/customizer" size="large" square flat border color="#630CDA" :active="active == 1" @click="active = 1">Theme Settings</vs-button>    
                    <vs-button href="admin.php?page=afinar_options#/preloader" size="large" square flat border color="#630CDA" :active="active == 2" @click="active = 2">Preloader Settings</vs-button>
                    <vs-button href="admin.php?page=afinar_options#/whitelabel" size="large" square flat border color="#630CDA" :active="active == 3" @click="active = 3">White Label</vs-button>
                    </div> -->

                </div>
                
                <div class="p-2 m-8 mt-12">
                    <router-view></router-view>
                </div>    
                
            </div>
    </div>
</div>
</template>

<script>
import Vue from 'vue';
import VueRouter from 'vue-router';
import Vuesax from 'vuesax';
import 'vuesax/dist/vuesax.css';

import App from './App.vue'
import Wizard from './Wizard.vue';
import WhiteLabel from './WhiteLabel.vue';

export default {
    data() {
        return {
            active: 0,
            logopath: api_settings.logo,
        }   
    },
    components: {
        App,
        Wizard,
        WhiteLabel
    },
    mounted() {
        
    }
}
</script>