<template>
    <div>

    
    <h1 class="text-2xl font-semibold">Preloader Settings</h1>
    <div class="grid grid-cols-1 gap-4 mt-12">

        <label for="enable-whitelabel" class="inline-flex relative items-center cursor-pointer">
    <input type="checkbox" v-model="preloader" @change="enablePreloader()" id="enable-whitelabel" class="sr-only peer">
    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-indigo-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-indigo-600"></div>
    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Enable Preloader</span>
    </label>
    
    <div class="w-5/6 mt-4">

    <label for="preloader_type" class="text-sm font-medium ">Preloader Type</label><br>
    <select v-model="preloaderstyle" @change="getstyle($event)" :disabled="!preloader" id="preloader_type" class="mt-4 mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option disabled selected="">Select Preloader</option>
    <option v-for="style in preloaderstyles" :value="style.value">{{ style.text }}</option>
    </select>

    <label for="theme_version" class="text-sm font-medium">Preloader Color</label><br>
    <LvColorpicker class="mt-4 mb-8" v-model="preloadercolor" :disabled="!preloader" clearable hidePalette bottomBar /><br>

    <label for="preloader_opacity" class="text-sm font-medium">Preloader Opacity</label><br>
    <div class="w-3/6">
    <LvRangeSlider class="mt-4 mb-4" v-model="preloaderopacity" :disabled="!preloader" sliderColor="#630CDA" trackColor="#e2e2e2" :min="0.1" :max="1" :step="0.1" :showValue="true"  />
    </div>

    <label for="preloader_text" class="mt-4 mb-8 text-sm font-medium">Preloader Text</label><br>
    <input type="text" id="preloader_text" name="preloader_text" v-model="preloadertext" :disabled="!preloader" class="mt-4 block w-4/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><br>

    </div>

    </div>

    <div class="flex justify-center mt-8">
        <vs-button size="large" color="#630CDA" square @click="preview_preloader()">Preview Preloader</vs-button>
        <vs-button size="large" color="#630CDA" square @click="save_settings()">Save Settings</vs-button>
    </div>

    </div>

</template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax';
import 'vuesax/dist/vuesax.css';
import LvColorpicker from 'lightvue/color-picker';
import LvRangeSlider from 'lightvue/range-slider';
import axios from 'axios';

Vue.use(Vuesax, {
    // options here
  })

export default({
    name: 'PreloaderSettings',
    components: {
    LvColorpicker: LvColorpicker,
    LvRangeSlider: LvRangeSlider
    },
    data() {
        return {
            preloader: api_settings.preloader['preloader'],
            preloaderstyles: [
                { text: 'Default', value: 'default' },
                { text: 'Waves', value: 'waves' },
                { text: 'Corners', value: 'corners' },
                { text: 'Points', value: 'points' },
                { text: 'Square', value: 'square' },
                { text: 'Gradient', value: 'gradient' },
                { text: 'Rectangle', value: 'rectangle' },
                { text: 'Circles', value: 'circles' },
                { text: 'Square Rotate', value: 'square-rotate' },
                { text: 'Scale', value: 'scale' }
            ],
            preloaderstyle: api_settings.preloader['preloaderstyle'],
            preloadercolor: api_settings.preloader['preloadercolor'],
            preloadertext: api_settings.preloader['preloadertext'],
            preloaderopacity: api_settings.preloader['preloaderopacity'],
        }
    },
    methods: {
        enablePreloader() {
            if (this.preloader == true) {
                this.fieldEnabled = true;
            } else {
                this.fieldEnabled = false;
            }
        },

        getstyle(event){
            this.preloaderstyle = event.target.value;
            console.log(this.preloaderstyle);
        },

        preview_preloader() {
            const lodingstatus = this.$vs.loading({
                background: this.preloadercolor,
                color: '#fff',
                text: this.preloadertext,
                type: this.preloaderstyle,
                opacity: this.preloaderopacity,
            })
            setTimeout(() => {
                lodingstatus.close()
            }, 3000)
        },

        save_settings(){
            var url = api_settings.root + 'afinar/v1/preloader';
            axios({
            method: 'post',
            url: url,
            data: {
                preloader: this.preloader,
                preloaderstyle: this.preloaderstyle,
                preloadercolor: this.preloadercolor,
                preloadertext: this.preloadertext,
                preloaderopacity: this.preloaderopacity,
            }
            }).then (response => {
                const noti = this.$vs.notification({
                    color: '#630CDA',
                    duration: 2000,
                    progress: 'auto',
                    position: 'top-right',
                    title: 'Settings Saved Successfully',
                    square: true
                })
            }).catch (error => {
                console.log(error);
            }); 

        }
    },
    mounted() {
    },
    computed: {
        
    }
})
</script>