<template>
    <div>

        
    <h1 class="text-2xl font-semibold">Header Settings</h1>
    <div class="grid grid-cols-1 gap-4">

    <div class="w-full grid grid-cols-2 mt-4">
        <div>
            <label for="header_bg_color" class="text-sm font-medium">Header Background Color</label><br>
            <LvColorpicker class="mt-4 mb-8" v-model="headerbgcolor" clearable hidePalette bottomBar /><br>

            <label for="header_button_color" class="text-sm font-medium">Header Button Color</label><br>
            <LvColorpicker class="mt-4 mb-8" v-model="headerbuttoncolor" clearable hidePalette bottomBar /><br>

            <label for="header_text_color" class="text-sm font-medium">Header Text Color</label><br>
            <LvColorpicker class="mt-4 mb-8" v-model="headertextcolor" clearable hidePalette bottomBar /><br>

            <label for="offcanvas_bg_color" class="text-sm font-medium">Mobile Menu Background Color</label><br>
            <LvColorpicker class="mt-4 mb-8" v-model="offcanvasbgcolor" clearable hidePalette bottomBar /><br>
        </div>
    
        <div>
            <label for="menu_icon_color" class="text-sm font-medium">Mobile Menu Icon Color</label><br>
            <LvColorpicker class="mt-4 mb-8" v-model="menuiconcolor" clearable hidePalette bottomBar /><br>

            <label for="header_button_text" class="mt-4 mb-8 text-sm font-medium">Header Button Text</label><br>
            <input type="text" id="header_button_text" name="header_button_text" v-model="headerbuttontext" class="mt-4 block w-4/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><br>

            <label for="header_button_url" class="mt-4 mb-8 text-sm font-medium">Header Button URL</label><br>
            <input type="text" id="header_button_url" name="header_button_url" v-model="headerbuttonurl" class="mt-4 block w-4/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><br>
        </div>

    </div>

    </div>


    <h1 class="text-2xl font-semibold mt-8">Footer Settings</h1>
    <div class="grid grid-cols-1 gap-4">

    <div class="w-full grid grid-cols-2 mt-4">
    <div>
        <label for="footer_background_color" class="text-sm font-medium">Background Color</label><br>
        <LvColorpicker class="mt-4 mb-8" v-model="footerbgcolor" clearable hidePalette bottomBar /><br>

        <label for="footer_text_color" class="text-sm font-medium">Text Color</label><br>
        <LvColorpicker class="mt-4 mb-8" v-model="footertextcolor" clearable hidePalette bottomBar /><br>

    </div>

    <div>
        <label for="footer_decription" class="mt-4 mb-8 text-sm font-medium">Company Decription</label><br>
        <textarea v-model="footerdecription" name="footer_decription" id="footer_decription" class="mt-4 block w-4/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" cols="5" rows="5"></textarea><br>
        <label for="footer_copyright" class="mt-4 mb-8 text-sm font-medium">Copyright Text</label><br>
        <input type="text" id="footer_copyright" name="footer_copyright" v-model="footercopyright" class="mt-4 block w-4/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><br>
    </div>
    

    </div>

    </div>

    <div class="flex justify-center mt-8">
        <vs-button size="large" color="#630CDA" square @click="save_settings()">Save Settings</vs-button>
    </div>

    </div>
</template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax';
import 'vuesax/dist/vuesax.css';
import LvColorpicker from 'lightvue/color-picker';
import LvRangeSlider from 'lightvue/range-slider';
import axios from 'axios';

export default({
    name: 'ThemeCustomizer',
    data() {
        return {
            headerbgcolor: api_settings.customizer['headerbgcolor'],
            headerbuttoncolor: api_settings.customizer['headerbuttoncolor'],
            headertextcolor: api_settings.customizer['headertextcolor'],
            offcanvasbgcolor: api_settings.customizer['offcanvasbgcolor'],
            menuiconcolor: api_settings.customizer['menuiconcolor'],
            headerbuttontext: api_settings.customizer['headerbuttontext'],
            headerbuttonurl: api_settings.customizer['headerbuttonurl'],
            footerbgcolor: api_settings.customizer['footerbgcolor'],
            footertextcolor: api_settings.customizer['footertextcolor'],
            footerdecription: api_settings.customizer['footerdecription'],
            footercopyright: api_settings.customizer['footercopyright'],
        }
    },
    components: {
        LvColorpicker: LvColorpicker,
        LvRangeSlider: LvRangeSlider
    },
    methods: {
        save_settings(){
            var url = api_settings.root + 'afinar/v1/customizer';
            console.log(url);
            axios({
            method: 'post',
            url: url,
            data: {
                headerbgcolor: this.headerbgcolor,
                headerbuttoncolor: this.headerbuttoncolor,
                headertextcolor: this.headertextcolor,
                offcanvasbgcolor: this.offcanvasbgcolor,
                menuiconcolor: this.menuiconcolor,
                headerbuttontext: this.headerbuttontext,
                headerbuttonurl: this.headerbuttonurl,
                footerbgcolor: this.footerbgcolor,
                footertextcolor: this.footertextcolor,
                footerdecription: this.footerdecription,
                footercopyright: this.footercopyright,
            }
            }).then (response => {
                const noti = this.$vs.notification({
                    color: '#630CDA',
                    duration: 2000,
                    progress: 'auto',
                    position: 'top-right',
                    title: 'Settings Saved Successfully',
                    square: true
                })
            }).catch (error => {
                console.log(error);
            }); 

        }
    },
    mounted() {
        
    },
    computed: {
        
    }
})

</script>