<template>
<div>
    <h1 class="text-2xl font-semibold">Tracking Codes</h1>
    <div class="grid grid-cols-1 gap-4">
    
    <div class="w-full grid grid-cols-2 gap-2 mt-8">
        
        <div>
            <label for="google_analytics" class="text-sm font-medium">Google Analytics Code</label><br>
            <input type="text" id="google_analytics" v-model="googleanalytics" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">

            <label for="google_ads_code" class="text-sm font-medium">Google Ads Code</label><br>
            <input type="text" id="google_ads_code" v-model="googleads" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            
            <label for="bing_webmaster" class="text-sm font-medium">Bing Webmaster Code</label><br>
            <input type="text" id="bing_webmaster" v-model="bingwebmaster" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">

            <label for="yandex_webmaster" class="text-sm font-medium">Yandex Webmaster Code</label><br>
            <input type="text" id="yandex_webmaster" v-model="yandexwebmaster" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            
            <label for="facebook_pixel" class="text-sm font-medium">Facebook Pixel Code</label><br>
            <input type="text" id="facebook_pixel" v-model="facebookpixel" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">

            <label for="twitter" class="text-sm font-medium">Twitter Code</label><br>
            <input type="text" id="twitter" v-model="twitter" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
        </div>
        

        <div>
            <label for="google_search_console" class="text-sm font-medium">Google Search Console Code</label><br>
            <input type="text" id="google_search_console" v-model="googlesearchconsole" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">

            <label for="google_tag_manager" class="text-sm font-medium">Google Tag Manager Code</label><br>
            <input type="text" id="google_tag_manager" v-model="googletagmanager" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">

            <label for="bing_analytics" class="text-sm font-medium">Bing Analytics Code</label><br>
            <input type="text" id="bing_analytics" v-model="binganalytics" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">

            <label for="yandex_metrica" class="text-sm font-medium">Yandex Metrica Code</label><br>
            <input type="text" id="yandex_metrica" v-model="yandexmetrica" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">

            <label for="pinterest" class="text-sm font-medium">Pinterest Code</label><br>
            <input type="text" id="pinterest" v-model="pinterest" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">

            <label for="hotjar" class="text-sm font-medium">Hotjar Code</label><br>
            <input type="text" id="hotjar" v-model="hotjar" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
        </div>

    </div>
    <div class="flex justify-center mt-8">
            <vs-button size="large" color="#630CDA" square @click="setTrackingCode()">Save Settings</vs-button>
        </div>
    </div>

</div>
</template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax';
import 'vuesax/dist/vuesax.css';
import axios from 'axios';

Vue.use(Vuesax);

export default ({
  name: 'TrackingCode',
  data() {
    return {
      googleanalytics: api_settings.tracking['googleanalytics'],
      googlesearchconsole: api_settings.tracking['googlesearchconsole'],
      facebookpixel: api_settings.tracking['facebookpixel'],
      googletagmanager: api_settings.tracking['googletagmanager'],
      googleads: api_settings.tracking['googleads'],
      bingwebmaster: api_settings.tracking['bingwebmaster'],
      binganalytics: api_settings.tracking['binganalytics'],
      yandexmetrica: api_settings.tracking['yandexmetrica'],
      yandexwebmaster: api_settings.tracking['yandexwebmaster'],
      pinterest: api_settings.tracking['pinterest'],
      twitter: api_settings.tracking['twitter'],
      hotjar: api_settings.tracking['hotjar'],
    }
  },
  methods: {
    setTrackingCode() {
    var url = api_settings.root + 'afinar/v1/code/tracking';
    axios({
        method: 'post',
        url: url,
        data: {
            googleanalytics: this.googleanalytics,
            googlesearchconsole: this.googlesearchconsole,
            facebookpixel: this.facebookpixel,
            googletagmanager: this.googletagmanager,
            googleads: this.googleads,
            bingwebmaster: this.bingwebmaster,
            binganalytics: this.binganalytics,
            yandexmetrica: this.yandexmetrica,
            yandexwebmaster: this.yandexwebmaster,
            pinterest: this.pinterest,
            twitter: this.twitter,
            hotjar: this.hotjar,
        }
        }).then(response => {
          const noti = this.$vs.notification({
                    color: '#630CDA',
                    duration: 2000,
                    progress: 'auto',
                    position: 'top-right',
                    title: 'Settings Saved Successfully',
                    square: true
            });
        }).catch(function (error) {
        console.log(error);

    });
    },
  },
  mounted() {
    // ...
  },
});

</script>