<template>
        <div>

        <h1 class="text-2xl font-semibold">White Label Settings</h1>
        <div class="grid grid-cols-1 gap-4 mt-12">

            <label for="enable-whitelabel" class="inline-flex relative items-center cursor-pointer">
        <input type="checkbox" v-model="whitelabel" id="enable-whitelabel" class="sr-only peer">
        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-indigo-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-indigo-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Enable White Label</span>
        </label>
        
        <div class="w-5/6 mt-4">

        <label for="theme_name" class="text-sm font-medium">Theme Name</label><br>
        <input type="text" id="theme_name" v-model="themename" :disabled="!whitelabel" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
        <label for="theme_version" class="text-sm font-medium">Theme Version</label><br>
        <input type="text" id="theme_version" name="theme_version" v-model="themeversion" :disabled="!whitelabel" class="mt-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><br>
        
        <label for="theme_description" class="text-sm font-medium">Theme Description</label><br>
        <textarea id="theme_description" name="theme_description" v-model="themedescription" :disabled="!whitelabel" class="mt-4 p-2 block w-5/6 h-24 rounded-lg border-block-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea><br>

        <label for="theme_author" class="text-sm font-medium">Theme Author</label><br>
        <input type="text" id="theme_author" name="theme_author" v-model="themeauthor" :disabled="!whitelabel" class="mt-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><br>
        <label for="author_url" class="text-sm font-medium">Author URL</label><br>
        <input type="text" id="author_url" name="author_url" v-model="authorurl" :disabled="!whitelabel" class="mt-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><br>
        <label for="theme_tags" class="text-sm font-medium">Theme Tags</label><br>
        <input type="text" id="theme_tags" name="theme_tags" v-model="themetags" :disabled="!whitelabel" class="mt-4 mb-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><br>
    </div>

        </div>

        <div class="flex justify-center mt-8">
            <vs-button size="large" color="#630CDA" square @click="save_settings()">Save Settings</vs-button>
        </div>

        </div>
    
</template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax';
import 'vuesax/dist/vuesax.css';
import axios from 'axios';
    
    Vue.use(Vuesax, {
        // options here
      })  
    
    export default({
        name: 'WhiteLabel',
        data() {
            return {
                whitelabel: api_settings.whitelabel['whitelabel'],
                themename: api_settings.whitelabel['theme_name'],
                themedescription: api_settings.whitelabel['theme_description'],
                themeversion: api_settings.whitelabel['theme_version'],
                themeauthor: api_settings.whitelabel['theme_author'],
                authorurl: api_settings.whitelabel['author_url'],
                themetags: api_settings.whitelabel['theme_tags'],
            }
        },
        template: '<div>White Label</div>',
        methods: {
            
            save_settings(){
                var url = '/wp-json/afinar/v1/white-label';
                axios({
                method: 'post',
                url: url,
                data: {
                    whitelabel: this.whitelabel,
                    theme_name: this.themename,
                    theme_description: this.themedescription,
                    theme_version: this.themeversion,
                    theme_author: this.themeauthor,
                    author_url: this.authorurl,
                    theme_authorUri: `<a href="${this.authorurl}">${this.themeauthor}</a>`,
                    theme_tags: this.themetags,
                }
                }).then (response => {
                    const noti = this.$vs.notification({
                    color: '#630CDA',
                    duration: 2000,
                    progress: 'auto',
                    position: 'top-right',
                    title: 'Settings Saved Successfully',
                    square: true
                })
                }).catch (error => {
                    console.log(error);
                }); 

            }
        },
        mounted() {
            // this.getSettings();
            // console.log(api_settings.whitelabel)
        },
        computed: {
            
        }
    })
    </script>