<template>
    
    <div>
        
            <div class="grid grid-cols-1">
            
                <div class="grid grid-cols-4 gap-6 text-indigo-600">
                
                <a class="hover:bg-indigo-600 hover:text-white" href="admin.php?page=afinar_options#/demos">
                <div>
                    <div class="rounded overflow-hidden shadow-lg pt-8">
                        <div class="flex justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-14 h-14">
                            <path fill-rule="evenodd" d="M2.25 5.25a3 3 0 013-3h13.5a3 3 0 013 3V15a3 3 0 01-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 01-.53 1.28h-9a.75.75 0 01-.53-1.28l.621-.622a2.25 2.25 0 00.659-1.59V18h-3a3 3 0 01-3-3V5.25zm1.5 0v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    <div class="p-6">
                        <div class="font-light text-lg mb-2 text-center">Ready Made Sites</div>
                    </div>
                    </div>
                </div>
                </a>

                <a class="hover:bg-indigo-600 hover:text-white" href="admin.php?page=afinar_options#/customizer">
                <div>
                    <div class="rounded overflow-hidden shadow-lg pt-8">
                        <div class="flex justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-14 h-14">
                            <path d="M17.004 10.407c.138.435-.216.842-.672.842h-3.465a.75.75 0 01-.65-.375l-1.732-3c-.229-.396-.053-.907.393-1.004a5.252 5.252 0 016.126 3.537zM8.12 8.464c.307-.338.838-.235 1.066.16l1.732 3a.75.75 0 010 .75l-1.732 3.001c-.229.396-.76.498-1.067.16A5.231 5.231 0 016.75 12c0-1.362.519-2.603 1.37-3.536zM10.878 17.13c-.447-.097-.623-.608-.394-1.003l1.733-3.003a.75.75 0 01.65-.375h3.465c.457 0 .81.408.672.843a5.252 5.252 0 01-6.126 3.538z" />
                            <path fill-rule="evenodd" d="M21 12.75a.75.75 0 000-1.5h-.783a8.22 8.22 0 00-.237-1.357l.734-.267a.75.75 0 10-.513-1.41l-.735.268a8.24 8.24 0 00-.689-1.191l.6-.504a.75.75 0 10-.964-1.149l-.6.504a8.3 8.3 0 00-1.054-.885l.391-.678a.75.75 0 10-1.299-.75l-.39.677a8.188 8.188 0 00-1.295-.471l.136-.77a.75.75 0 00-1.477-.26l-.136.77a8.364 8.364 0 00-1.377 0l-.136-.77a.75.75 0 10-1.477.26l.136.77c-.448.121-.88.28-1.294.47l-.39-.676a.75.75 0 00-1.3.75l.392.678a8.29 8.29 0 00-1.054.885l-.6-.504a.75.75 0 00-.965 1.149l.6.503a8.243 8.243 0 00-.689 1.192L3.8 8.217a.75.75 0 10-.513 1.41l.735.267a8.222 8.222 0 00-.238 1.355h-.783a.75.75 0 000 1.5h.783c.042.464.122.917.238 1.356l-.735.268a.75.75 0 10.513 1.41l.735-.268c.197.417.428.816.69 1.192l-.6.504a.75.75 0 10.963 1.149l.601-.505c.326.323.679.62 1.054.885l-.392.68a.75.75 0 101.3.75l.39-.679c.414.192.847.35 1.294.471l-.136.771a.75.75 0 101.477.26l.137-.772a8.376 8.376 0 001.376 0l.136.773a.75.75 0 101.477-.26l-.136-.772a8.19 8.19 0 001.294-.47l.391.677a.75.75 0 101.3-.75l-.393-.679a8.282 8.282 0 001.054-.885l.601.504a.75.75 0 10.964-1.15l-.6-.503a8.24 8.24 0 00.69-1.191l.735.268a.75.75 0 10.512-1.41l-.734-.268c.115-.438.195-.892.237-1.356h.784zm-2.657-3.06a6.744 6.744 0 00-1.19-2.053 6.784 6.784 0 00-1.82-1.51A6.704 6.704 0 0012 5.25a6.801 6.801 0 00-1.225.111 6.7 6.7 0 00-2.15.792 6.784 6.784 0 00-2.952 3.489.758.758 0 01-.036.099A6.74 6.74 0 005.251 12a6.739 6.739 0 003.355 5.835l.01.006.01.005a6.706 6.706 0 002.203.802c.007 0 .014.002.021.004a6.792 6.792 0 002.301 0l.022-.004a6.707 6.707 0 002.228-.816 6.781 6.781 0 001.762-1.483l.009-.01.009-.012a6.744 6.744 0 001.18-2.064c.253-.708.39-1.47.39-2.264a6.74 6.74 0 00-.408-2.308z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    <div class="p-6">
                        <div class="font-light text-lg mb-2 text-center">Theme Settings</div>
                    </div>
                    </div>
                </div>
                </a>


                <a class="hover:bg-indigo-600 hover:text-white" href="admin.php?page=afinar_options#/preloader">
                <div>
                    <div class="rounded overflow-hidden shadow-lg pt-8">
                        <div class="flex justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-14 h-14">
                            <path fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0112.548-3.364l1.903 1.903h-3.183a.75.75 0 100 1.5h4.992a.75.75 0 00.75-.75V4.356a.75.75 0 00-1.5 0v3.18l-1.9-1.9A9 9 0 003.306 9.67a.75.75 0 101.45.388zm15.408 3.352a.75.75 0 00-.919.53 7.5 7.5 0 01-12.548 3.364l-1.902-1.903h3.183a.75.75 0 000-1.5H2.984a.75.75 0 00-.75.75v4.992a.75.75 0 001.5 0v-3.18l1.9 1.9a9 9 0 0015.059-4.035.75.75 0 00-.53-.918z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    <div class="p-6">
                        <div class="font-light text-lg mb-2 text-center">Preloader Settings</div>
                    </div>
                    </div>
                </div>
                </a>

                <a class="hover:bg-indigo-600 hover:text-white" href="admin.php?page=afinar_options#/whitelabel">
                <div>
                    <div class="rounded overflow-hidden shadow-lg pt-8">
                        <div class="flex justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-14 h-14">
                            <path d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z" />
                            <path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z" />
                            <path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z" />
                            </svg>
                        </div>
                    <div class="p-6">
                        <div class="font-light text-lg mb-2 text-center">White Label Settings</div>
                    </div>
                    </div>
                </div>
                </a>


                <a class="hover:bg-indigo-600 hover:text-white" href="admin.php?page=afinar_options#/tracking-code">
                <div>
                    <div class="rounded overflow-hidden shadow-lg pt-8">
                        <div class="flex justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                            </svg>
                        </div>
                    <div class="p-6">
                        <div class="font-light text-lg mb-2 text-center">Tracking Codes</div>
                    </div>
                    </div>
                </div>
                </a>


                <a class="hover:bg-indigo-600 hover:text-white" href="admin.php?page=afinar_options#/code-injector">
                <div>
                    <div class="rounded overflow-hidden shadow-lg pt-8">
                        <div class="flex justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                            </svg>
                        </div>
                    <div class="p-6">
                        <div class="font-light text-lg mb-2 text-center">Code Injector</div>
                    </div>
                    </div>
                </div>
                </a>

                <a class="hover:bg-indigo-600 hover:text-white" href="admin.php?page=afinar_options#/import-export">
                <div>
                    <div class="rounded overflow-hidden shadow-lg pt-8">
                        <div class="flex justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-14 h-14">
                            <path fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v11.69l3.22-3.22a.75.75 0 111.06 1.06l-4.5 4.5a.75.75 0 01-1.06 0l-4.5-4.5a.75.75 0 111.06-1.06l3.22 3.22V3a.75.75 0 01.75-.75zm-9 13.5a.75.75 0 01.75.75v2.25a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5V16.5a.75.75 0 011.5 0v2.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V16.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    <div class="p-6">
                        <div class="font-light text-lg mb-2 text-center">Import / Export</div>
                    </div>
                    </div>
                </div>
                </a>

                <a class="hover:bg-indigo-600 hover:text-white" href="admin.php?page=afinar_options-account">
                <div>
                    <div class="rounded overflow-hidden shadow-lg pt-8">
                        <div class="flex justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-14 h-14">
                            <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    <div class="p-6">
                        <div class="font-light text-lg mb-2 text-center">My Account</div>
                    </div>
                    </div>
                </div>
                </a>


                </div>
                
            </div>

    
    </div>
</template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax';
import 'vuesax/dist/vuesax.css';
import axios from 'axios';
    
    Vue.use(Vuesax, {
        // options here
      })  

      // document.getElementById("adminmenumain").remove();
      //       document.getElementById("wpadminbar").remove();
    
    export default({
        name: 'Wizard',
        data() {
            return {
                step1: true,
                step2: false,
                step3: false,
                pluginstatus: 'active',
                allpluginstatus: null,
                isDisabled: false,
            }
        },
        methods: {
            checkOCDI() {
                const plugin = 'one-click-demo-import/one-click-demo-import';
                const url = api_settings.root + 'wp/v2/plugins/'+plugin;

                axios({
                method: 'get',
                url: url,
                headers: {'X-WP-Nonce': api_settings.nonce},
                })
                .then(response => {
                    if (response.data.status == 'active') {
                        // redirect to url
                        window.location.href = '/wp-admin/themes.php?page=one-click-demo-import';
                    } else {
                        const noti = this.$vs.notification({
                        duration: 6000,
                        color: 'danger',
                        position: 'top-right',
                        title: 'One Click Demo Import Not Found',
                        text: 'It seems that One Click Demo Import Plugin is not installed or activated. Please install & activate One Click Demo Import plugin first.',
                        square: true
                    })
                    }
                })
                .catch(error => {
                    console.log(error);
                });
            },

            install_plugins(){

            this.pluginname = 'One Click Demo Import';

            const lodingstatus = this.$vs.loading({
            background: '#5955A5',
            color: '#fff',
            text: 'Installing ' + this.pluginname,
            })

            axios({
            method: 'post',
            url: api_settings.root + 'wp/v2/plugins?slug=one-click-demo-import&status='+ this.pluginstatus,
            headers: {'X-WP-Nonce': api_settings.nonce},
            })
            .then((response) => {
                lodingstatus.close();
                this.pluginname = 'Greenshift – Animation & Page Builder Blocks';

                const lodingstatus2 = this.$vs.loading({
                background: '#5955A5',
                color: '#fff',
                text: 'Installing ' + this.pluginname,
            });

            axios({
            method: 'post',
            url: api_settings.root + 'wp/v2/plugins?slug=greenshift-animation-and-page-builder-blocks&status=' + this.pluginstatus,
            headers: {'X-WP-Nonce': api_settings.nonce},
            }).then((response) =>{
            lodingstatus2.close();
            // const noti = this.$vs.notification({
            //     sticky: true,
            //     color: 'success',
            //     position: null,
            //     title: 'Documentation Vuesax 4.0+',
            //     text: 'These documents refer to the latest version of vuesax (4.0+), to see the documents of the previous versions you can do it here 👉 Vuesax 3.x'
            // })
            this.step2 = !this.step2;
            this.step3 = !this.step3;
            })

            });
            },
        },
        mounted() {
        }
    })
    </script>