<template>
    <div>
        <section class="bg-gray-50 dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h1 class="mb-4 text-3xl text-center font-extrabold leading-relaxed text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">{{ title }}</h1>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Got a technical issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us know.</p>
      <div class="space-y-8">
          <div>
              <label for="email" class="block mt-4 mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
              <input v-model="email" type="email" id="email" class="shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="hello@example.com" required>
          </div>
          <div>
              <label for="subject" class="block mt-4 mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
              <input v-model="subject" type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Let us know how we can help you" required>
          </div>
          <div class="sm:col-span-2">
              <label for="message" class="block mt-4 mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
              <textarea v-model="message" id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a comment..."></textarea>
          </div>
          <div class="flex sm:justify-center md:justify-start">
            <button @click="sendMsg" class="mt-6 py-3 px-5 text-sm font-medium text-center brand-color rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send message</button>
          </div>
        </div>
  </div>
</section>
    </div>
</template>

<script>
import vue from 'vue';
import axios from 'axios';

export default({
  name: 'Contact',
  data () {
    return {
        title: afinar_settings.page_title || 'Contact Us',
        email: null,
        subject: null,
        message: null,

    }
  },
  methods: {
      sendMsg() {
        const noti = this.$vs.notification({
            duration: 3000,
            progress: 'auto',
            position: 'top-right',
            color: '#630cda',            
            title: 'Sending message...',
            text: `Please wait...`
          })
          
          axios({
              method: 'post',
              url: '/wp-json/afinar/v1/contact/send',
              data: {
                  email: this.email,
                  subject: this.subject,
                  message: this.message
              }
          }).then(function (response) {
              console.log(response);
          }).catch(function (error) {
              console.log(error);
          })
      }
  },
    mounted() {
        
    }
})

</script>