<template>
    <div>
    <div :style="affooter" class="flex justify-center bg-black">
        <div class="grid sm:grid-cols-1 md:grid-cols-3 place-items-center mx-auto sm:p-8 md:p-16 sm:w-full md:w-4/5">
            
            <!--Section 1-->
            <div class="text-white sm:w-full md:w-4/6">
                <div class="sm:w-full md:w-3/6 flex sm:justify-center md:justify-start"><img :src=logo alt=""></div>
                <p :style="affootertext" class="p-4 pl-0 pr-0 text-white opacity-70 font-light leading-relaxed sm:text-center md:text-left">{{ footerdecription }}</p>
            </div>

            <div class="sm:ml-0 md:ml-24 sm:mt-6 md:mt-0">
                <h2 :style="affootertext" class="text-white text-xl sm:text-center md:text-left">{{ footer_menu_name }}</h2>
                <ul :style="affootertext" class="text-white opacity-70 font-light text-base mt-4 leading-loose sm:text-center md:text-left">
                    <li v-for="item in footer_menu">
                    <div v-if="item.menu_item_parent === '0'">
                    <a :style="affootertext" class="text-white" :href=item.url>{{ item.title }}</a>
                    </div>
                </li>
                </ul>
            </div>

            <div class="sm:ml-0 md:ml-24 sm:mt-6 md:mt-0">
                <h2 :style="affootertext" class="text-white text-xl sm:text-center md:text-left">{{ social_menu_name }}</h2>
                <ul class="text-white opacity-70 font-light text-base mt-4 leading-loose sm:text-center md:text-left">
                    <li v-for="item in social_menu">
                    <div v-if="item.menu_item_parent === '0'">
                    <a :style="affootertext" class="text-white" :href=item.url>{{ item.title }}</a>
                    </div>
                </li>
                </ul>
            </div>


        </div>
    </div>

    <div :style="affooter" class="grid place-items-center bg-black">
        <div class="w-full">
            <hr class="border border-white opacity-10">
            <p :style="affootertext" class="p-4 pl-0 pr-0 text-white text-center opacity-70 font-light leading-relaxed">{{ footercopyright }}</p>
        </div>
    </div>

</div>
</template>

<script>
import Vue from 'vue';

export default({
    name: 'Footer',
    data() {
        return {
            logo: afinar_settings.logo,
            footer_menu_name: afinar_settings.footer_menu_name,
            footer_menu: afinar_settings.footer_menu,
            social_menu_name: afinar_settings.social_menu_name,
            social_menu: afinar_settings.social_menu,
            footerdecription: afinar_settings.customizer['footerdecription'],
            footercopyright: afinar_settings.customizer['footercopyright'],
            affooter: {
                backgroundColor: afinar_settings.customizer.footerbgcolor,
            },
            affootertext: {
                color: afinar_settings.customizer.footertextcolor
            },
        }
    },
    methods: {
        toggleMenu() {
            this.active = this.active === 'home' ? 'menu' : 'home';
        }
    },
    mounted() {
        
    }
})

</script>