<template>
  
  <div>

    <div :style="afheaderBg" class="sm:hidden md:grid place-items-center sticky top-0 z-99">
      <div :style="afheaderBg"  class="w-4/6 flex justify-between items-center bg-white p-6">
          <div>
              <a href="/"><img :src=logo></a>
          </div>
          <div>
              <ul class="flex justify-between text-base font-normal space-x-6">
                <li class="p-2" v-for="item in header_menu">
                    <div v-if="item.menu_item_parent === '0'">
                    <a :style="aftext" class="text-black" :href=item.url>{{ item.title }}</a>
                    </div>
                </li>
              </ul>
          </div>
          <div>
              <a :href=headerbuttonurl :style="afheaderButton" class="rounded-lg text-white font-light p-3 pl-6 pr-6">{{ headerbuttontext }}</a>
          </div>
      </div>
  </div>

  <div :style="afheaderBg" class="sm:grid md:hidden grid-cols-2 items-center p-6">
    <div><a href="/"><img :src=logo></a></div>

    <div>
        <div class="flex justify-end items-center">
            <div>
            <!-- drawer init and toggle -->
            <div class="text-center">
            <button :style="afmenuicon" class="text-black" type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
            </button>
            </div>
            </div>

            <!-- drawer component -->
            <div :style="afoffcanvas" id="drawer-example" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label">
                <ul class="text-base font-normal p-6">
                <li class="p-2" v-for="item in header_menu">
                    <div v-if="item.menu_item_parent === '0'">
                    <a :style="aftext" class="text-black" :href=item.url>{{ item.title }}</a>
                    </div>
                </li>
                <li class="p-1 mt-6">
                    <a :href=headerbuttonurl :style="afheaderButton" class="border rounded-lg text-white font-light p-3 pl-6 pr-6">{{ headerbuttontext }}</a>
                </li>
              </ul>
            </div>

        </div>
    </div>
  </div>

  </div>

</template>

<script>
import Vue from 'vue';
import 'flowbite';

export default({
    name: 'Header',
    data() {
        return {
            active: 'home',
            logo: afinar_settings.logo,
            header_menu: afinar_settings.header_menu,
            headerbuttontext: afinar_settings.customizer['headerbuttontext'],
            headerbuttonurl: afinar_settings.customizer['headerbuttonurl'],
            afheaderButton: {
                backgroundColor: afinar_settings.customizer.headerbuttoncolor
            },
            afheaderBg: {
                backgroundColor: afinar_settings.customizer.headerbgcolor
            },
            aftext: {
                color: afinar_settings.customizer.headertextcolor
            },
            afoffcanvas: {
                backgroundColor: afinar_settings.customizer.offcanvasbgcolor
            },
            afmenuicon: {
                color: afinar_settings.customizer.menuiconcolor
            }
        }
    },
    methods: {

    },
    mounted() {
        
    }
})

</script>