@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .bg-color {
    background-color: #F0F0F1;
  }

  .brand-color {
    background-color: #630CDA;
    color: #ffffff;
  }

  .wp-block-navigation-item {
    margin: 0 10px;
  }